parameters:
	ignoreErrors:
		-
			message: '#^Call to function unset\(\) contains undefined variable \$output\.$#'
			identifier: unset.variable
			count: 3
			path: src/usr/local/pkg/pfblockerng/pfblockerng.inc

		-
			message: '#^Call to function unset\(\) contains undefined variable \$result\.$#'
			identifier: unset.variable
			count: 1
			path: src/usr/local/pkg/pfblockerng/pfblockerng.inc

		-
			message: '#^Call to function unset\(\) contains undefined variable \$retval\.$#'
			identifier: unset.variable
			count: 4
			path: src/usr/local/pkg/pfblockerng/pfblockerng.inc

		-
			message: '#^Call to static method isInNetmask\(\) on an unknown class Net_IPv6\.$#'
			identifier: class.notFound
			count: 1
			path: src/usr/local/pkg/pfblockerng/pfblockerng.inc

		-
			message: '#^Deprecated in PHP 8\.0\: Required parameter \$domain follows optional parameter \$mode\.$#'
			identifier: parameter.requiredAfterOptional
			count: 1
			path: src/usr/local/pkg/pfblockerng/pfblockerng.inc

		-
			message: '#^Deprecated in PHP 8\.0\: Required parameter \$filename_unlock follows optional parameter \$r_type\.$#'
			identifier: parameter.requiredAfterOptional
			count: 1
			path: src/usr/local/pkg/pfblockerng/pfblockerng.inc

		-
			message: '#^Deprecated in PHP 8\.0\: Required parameter \$format follows optional parameter \$pflex\.$#'
			identifier: parameter.requiredAfterOptional
			count: 1
			path: src/usr/local/pkg/pfblockerng/pfblockerng.inc

		-
			message: '#^Deprecated in PHP 8\.0\: Required parameter \$header follows optional parameter \$pflex\.$#'
			identifier: parameter.requiredAfterOptional
			count: 1
			path: src/usr/local/pkg/pfblockerng/pfblockerng.inc

		-
			message: '#^Deprecated in PHP 8\.0\: Required parameter \$logfile follows optional parameter \$line\.$#'
			identifier: parameter.requiredAfterOptional
			count: 1
			path: src/usr/local/pkg/pfblockerng/pfblockerng.inc

		-
			message: '#^Deprecated in PHP 8\.0\: Required parameter \$logtype follows optional parameter \$pflex\.$#'
			identifier: parameter.requiredAfterOptional
			count: 1
			path: src/usr/local/pkg/pfblockerng/pfblockerng.inc

		-
			message: '#^Deprecated in PHP 8\.0\: Required parameter \$oline follows optional parameter \$line\.$#'
			identifier: parameter.requiredAfterOptional
			count: 1
			path: src/usr/local/pkg/pfblockerng/pfblockerng.inc

		-
			message: '#^Deprecated in PHP 8\.0\: Required parameter \$req_agent follows optional parameter \$mode\.$#'
			identifier: parameter.requiredAfterOptional
			count: 1
			path: src/usr/local/pkg/pfblockerng/pfblockerng.inc

		-
			message: '#^Deprecated in PHP 8\.0\: Required parameter \$src_ip follows optional parameter \$mode\.$#'
			identifier: parameter.requiredAfterOptional
			count: 1
			path: src/usr/local/pkg/pfblockerng/pfblockerng.inc

		-
			message: '#^Instantiated class pfsense_xmlrpc_client not found\.$#'
			identifier: class.notFound
			count: 1
			path: src/usr/local/pkg/pfblockerng/pfblockerng.inc

		-
			message: '#^Undefined variable\: \$logtype$#'
			identifier: variable.undefined
			count: 1
			path: src/usr/local/pkg/pfblockerng/pfblockerng.inc

		-
			message: '#^Undefined variable\: \$src_ip$#'
			identifier: variable.undefined
			count: 1
			path: src/usr/local/pkg/pfblockerng/pfblockerng.inc

		-
			message: '#^Undefined variable\: \$srcint$#'
			identifier: variable.undefined
			count: 1
			path: src/usr/local/pkg/pfblockerng/pfblockerng.inc

		-
			message: '#^Undefined variable\: \$coptions4$#'
			identifier: variable.undefined
			count: 3
			path: src/usr/local/www/pfblockerng/pfblockerng.php

		-
			message: '#^Undefined variable\: \$coptions6$#'
			identifier: variable.undefined
			count: 3
			path: src/usr/local/www/pfblockerng/pfblockerng.php

		-
			message: '#^Undefined variable\: \$et_options$#'
			identifier: variable.undefined
			count: 1
			path: src/usr/local/www/pfblockerng/pfblockerng.php

		-
			message: '#^Undefined variable\: \$ftotal4$#'
			identifier: variable.undefined
			count: 2
			path: src/usr/local/www/pfblockerng/pfblockerng.php

		-
			message: '#^Undefined variable\: \$ftotal6$#'
			identifier: variable.undefined
			count: 2
			path: src/usr/local/www/pfblockerng/pfblockerng.php

		-
			message: '#^Undefined variable\: \$options4$#'
			identifier: variable.undefined
			count: 4
			path: src/usr/local/www/pfblockerng/pfblockerng.php

		-
			message: '#^Undefined variable\: \$options6$#'
			identifier: variable.undefined
			count: 4
			path: src/usr/local/www/pfblockerng/pfblockerng.php

		-
			message: '#^Function phpsession_begin not found\.$#'
			identifier: function.notFound
			count: 2
			path: src/usr/local/www/pfblockerng/pfblockerng_category_edit.php

		-
			message: '#^Function phpsession_end not found\.$#'
			identifier: function.notFound
			count: 3
			path: src/usr/local/www/pfblockerng/pfblockerng_category_edit.php

		-
			message: '#^Deprecated in PHP 8\.0\: Required parameter \$a_key follows optional parameter \$alt_register\.$#'
			identifier: parameter.requiredAfterOptional
			count: 1
			path: src/usr/local/www/pfblockerng/pfblockerng_feeds.php

		-
			message: '#^Deprecated in PHP 8\.0\: Required parameter \$pfb_table follows optional parameter \$mode\.$#'
			identifier: parameter.requiredAfterOptional
			count: 1
			path: src/usr/local/www/widgets/widgets/pfblockerng.widget.php

		-
			message: '#^Function pfSense_get_pf_rules not found\.$#'
			identifier: function.notFound
			count: 1
			path: src/usr/local/www/widgets/widgets/pfblockerng.widget.php
